* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#top-nav {
    text-align: right;    
    margin: 20px;    
    font-size: 14px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 10px;    
  }

  a {
    text-decoration: none;
    color:rgb(56, 56, 56);
  }

  #box-icon{
      width: 25px;
      vertical-align: middle;
      cursor: pointer;
  }

   #sign-in {
      padding:8px;
      background-color: rgb(100, 162, 255);
      color:white;
      border-radius: 4px;
      border: transparent;
  }

  #google-pic {
      width: 100%;
      margin: 150px auto;
      text-align: center;
  }

form{
    width:100%;
    text-align: center;
    margin-top: -120px;
    /* position: relative; */
}

#search-bar{
    position:relative;
    /* display: flex; */
    /* width: 100%; */
    /* margin-bottom:30px; */
}
#search-text{
    /* position:relative; */
}

input[type=text] {
    width: 500px;
    padding:15px 15px 15px 50px;
    font-size: 15px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 2rem;
    outline-style: none;
    box-sizing: border-box; 
}

input[type=text]:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    border: 1px solid lightgrey;
}

#search-icon{
    position:absolute;
    /* bottom:0; */
    left:-460px;
    right:0;
    top:335px;
    top:15px;
}

#mic-icon{
    position:absolute;
    /* bottom:0; */
    left:460px;
    right:0px;
    top:335px;
    top:15px;
    cursor: pointer;
}

.submit{
    margin:30px auto auto 20px;
    padding:10px;
    border: 0ch;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;

}

.submit:hover{
    border: 1px solid rgb(199, 199, 199); 
    box-shadow: 0 0 5px rgba(104, 104, 104, 0.2);     

}
  #bottom-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(190, 190, 190);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding:20px;
  }

  #left {
      float:left;
  

  }

  #right{
      float:right;
      padding-right: 50px;
  
  }

  @media screen and (max-width: 600px) {
    .view {
        width: 100%;
    }

    input[type=text]{
        width:400px;
    }

    #search-icon{
        left:-360px;
    }
    
    #mic-icon{
        left:360px;
    }

    #left{
        float: none;
        margin-bottom: 15px;
        text-align: center;
    }
    #right{
        float: none;
        text-align: center;
        
    }
}

@media screen and (max-width: 400px) { 

    input[type=text]{
        width:300px;
    }

    #search-icon{
        left:-260px;
    }
    
    #mic-icon{
        left:260px;
    }

    #left{
        margin-right:40px;
    }
} 
